#lesson {
  margin-bottom: 15vh;
}

#lesson * {
  font-family: "Times New Roman", sans-serif;
}

.card.card-text {
  padding: 1rem;
  color: #fff3cd;
}


.accordion-item {
  color: #ffc;
  border: none;
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}

.alert {
  border: none;
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: relative;
  overflow: hidden;
  color: #fff;
}

.alert-warning::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  content: "";
  background-color: #ffc107;
}

.alert-success::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  content: "";
  background-color: #41d7a7;
}
